.heroContainer {
  padding: 50px 0;
  min-height: 100vh;
}

.animatedBG {
  --size: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 2.5));
  background-image: conic-gradient(
    theme('colors.primary'),
    theme('colors.primary'),
    theme('colors.secondary')
  );
  animation: rotate 5s alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@keyframes rotate {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(0.5) rotate(360deg);
  }
}

.heroArtImageStyles {
  --size: 300px;
  width: var(--size);
  height: var(--size);
  border: 10px solid transparent;
  background-clip: padding-box;
  z-index: 2;
}

@screen lg {
  .heroArtImageStyles {
    --size: 300px;
    width: var(--size);
    height: var(--size);
  }
  .heroContainer {
    padding: 100px 0;
  }
}

@screen xl {
  .heroArtImageStyles {
    --size: 350px;
    width: var(--size);
    height: var(--size);
  }
  .heroContainer {
    padding: 200px 0;
  }
}

@screen 2xl {
  .heroArtImageStyles {
    --size: 450px;
    width: var(--size);
    height: var(--size);
  }
}
