@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: theme('colors.black1');
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

[class='light'] body {
  background-color: theme('colors.white1');
}
