name: Issue Tracker

on:
  issues:
    types: [opened]

permissions: write-all

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Add Comment Reply
        run: |
          gh api -X POST \
          https://api.github.com/repos/${ORGANIZATION}/${REPOSITORY}/issues/${ISSUE_NUMBER}/comments \
          -f body='
          The project is in early stage to accept any issue.
          '
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORGANIZATION: ${{ github.event.organization.login }}
          REPOSITORY: ${{ github.event.repository.name }}
          ISSUE_NUMBER: ${{ github.event.issue.number }}
